deb http://ports.ubuntu.com/ubuntu-ports {{ bootstrap_ubuntu_release }} main universe
deb http://ports.ubuntu.com/ubuntu-ports {{ bootstrap_ubuntu_release }}-security main universe
deb http://ports.ubuntu.com/ubuntu-ports {{ bootstrap_ubuntu_release }}-updates main universe
